@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
  }
}

.logo {
  font-family: "Courgette", cursive;
}

.font-secondary {
  font-family: "Caveat", cursive;
}

/* ========== HERO PAGE ========== */
.hero-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/heroBg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ========== MENU PAGE ========== */
.category-active {
  background-color: #fbbf24;
}

/* ========== NOT FOUND PAGE ========== */
.not-found-bg {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ========== Scroll Up Component ========== */
.scroll-container {
  color: #065f46;
  position: fixed;
  right: 100px;
  bottom: 80px;
  z-index: 10;
  width: 4px;
  height: 40px;
  cursor: pointer;
}

.scroll-icon {
  width: 3rem;
  height: 3rem;
  border: 2px solid #065f46;
  border-radius: 50%;
  background-color: #f9fafb;
  transition: transform 0.3s;
  display: none;
}

.scroll-icon:hover {
  transform: scale(1.2);
}

.scroll-icon:active {
  transform: scale(0.9);
}

/* ========== SERVICES ========== */
.services-container {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("./assets/servicesBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}

/* ========== TESTIMONIALS ========== */
.testimonials-container {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("./assets/testimonialsBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
}
